body {
  color: #40514e;
  background-color: #eaf6f6;
  text-align: center;
  margin: 0px;
  font-family: "Merriweather", serif;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

.footer-link:hover {
  color: #eaf6f6;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: dotted #aee6e6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

p {
  line-height: 2;
}

.top-container {
  position: relative;
  /*padding-top: 100px;*/
}

.middle-container {
  position: relative;
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  position: relative;
  padding: 50px 0 20px;
}

.intro-description {
  color: #40514e;
  width: 30%;
  margin: auto;
}

.developer {
  font-weight: normal;
}

.profile-pic {
  width: 300px;
  height: 300px;
}

.hi-gif {
  width: 15%;
  height: 30%;
}

.hey-there {
  margin-left: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.flutter-logo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.IoT-logo {
  width: 25%;
  float: right;
  margin-left: 30px;
}
/*
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}*/

.footer-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.connect-button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 11px;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.connect-button:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
